.profile {
  width: 300px;
  margin: 0 auto 100px auto;
}
.description {
  display: flex;

  flex-direction: column;
  align-items: center;

  background-color: #fff;
}
.avatar {
  width: 100px;
  height: 100px;

  margin-top: 30px;
  margin-bottom: 20px;

  border-radius: 50%;
}
.list {
  display: flex;
  justify-content: space-around;

  border-top: 1px solid gray;

  background-color: rgb(192, 192, 192);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  border-right: 1px solid gray;

  padding-top: 20px;
  padding-bottom: 20px;
}
.item:last-child {
  border: none;
}
.name {
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 10px;
}
.tag {
  font-size: 16px;
  color: gray;

  margin-bottom: 10px;
}
.location {
  font-size: 16px;
  color: gray;

  margin-bottom: 30px;
}
.label {
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(92, 90, 90);
}
.quantity {
  font-weight: bold;
}
